*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

.quote-title{
    font-size: 1.875rem;
    margin-bottom: 50px;
    background-color: orange;
    display: inline-block;
    padding: 1.02rem;
    border-radius: 10px;
    box-shadow: 0 0 2px ;
}

.sticker{
    color: white;
    background-color: #007FFF;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline;
    
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: lightgrey;
}

.textarea{
    width: 70vw;
    font-size: 1.125rem;
    word-wrap: break-word;
}

.person{
    margin: 1.8rem;
    font-size: 1.75rem;
    text-transform: capitalize;
    color: #007FFF ;
}

.Container{
    background-color: white;
    padding: 4rem 1rem;
    border-radius: 20px;
    box-shadow: 0 0 2px;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-duration: 1s;
    width: 75vw;
}

button{
    border-style: none;
    padding: 15px 15px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 0 0 2px;
    cursor: pointer;
    transition: all ease;
    
}

button:hover{
    transform: scale(1.1) !important;
    background-color: darkorange;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

button:active{
    background-color: orange;
}

.quote-title:hover{
    background-color: darkorange;
}

.Container:hover{
    padding: 5rem 1.3rem;
}